@import './Animations.scss';


$fancy-font: 'Gloria Hallelujah';
$raleway-font: 'Raleway', sans-serif;
$medium-purple: #443C68;
$lighter-purple: #635985;
$creamy-gray: #E5E5E5;
$new-purple: #BFACE2;
$light: #ECF2FF;
$button-color: #f189a0;
$border-radius: 0 35px 0 35px;
$padding-left: 20px;

.game-project-container {
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    display: flex;
    padding-bottom: 100px;
    
    .game-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .game-h3 {
            width: 100%;
            text-align: left;
            font-family: $fancy-font;
        }

        .text
        {
            white-space: pre-line !important;
        }

        .game-description,
        .game-features
        {
            padding-bottom: 20px;
        }

        .game-description,
        .game-features, 
        .game-inspired
        {
            animation: slide-right-solid 1.5s ease-in-out;  
        }

        .game-title
        {
            animation: slide-left-large 1.5s ease-in-out;  
        }

        .game-h3,
        .last-updated,
        .git,
        .game-links
        {          
            animation: slide-left-solid 1.5s ease-in-out;  
        }

        .game-title {
            margin: 30px 0px;
            font-family: $fancy-font;
            font-size: 3rem;
        }

        .game-description {
            width: 100%;     
        }

        .game-features {
            width: 100%;
            margin-bottom: 0 !important;   
        }

        .game-inspired
        {
            display: flex;
            justify-content: left;
            width: 100%;

            .msg
            {
                font-weight: 500 !important;
            }

            img{           
                width: 100px;
                height: 100px;     
                margin-left: 30px;
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            img:hover
            {
                animation: scale-up-solid 1.3s ease-in-out infinite;
            }

        }

        .message {
            width: 100%;
            padding-top: 40px;
            color: $new-purple;   
            animation: slide-left-solid 1.5s ease-in-out;       
        }

        .git {
            scale: 1.5;
            margin-left: 30px;
        }

        .game-links {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            padding-bottom: 30px;

            .link {
                margin: 0 50px 0 20px;              
            }
        }

        .last-updated {
            margin-top: 30px;
            color: $new-purple;
            padding-bottom: clamp(20vh, 10%, 50vh);
        }
        
        .project-image {
            width: 400px;
            height: 400px;
        }

        .project-gif-bottom,
        .project-gif
        {
            width: clamp(1200px, 100%, 2000px);
            animation: load-in-solid 1.5s ease-in-out;  
        }
        
        .project-gif-bottom {
            position: absolute;
            bottom: 0;
        }
    }

    .arrow-up:hover,
    .arrow-down:hover {
        fill: $new-purple;
        cursor: pointer;
    }   
}

@media screen and (min-width: 200px) and (max-width: 2000px) {
    .game-wrapper {

        .game-title,
        .game-description,
        .game-features, 
        .game-inspired,
        .message,
        .game-h3,
        .div {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }
}


@media screen and (min-width: 200px) and (max-width: 700px) {

    .game-wrapper {
        padding: 0 0px 100px 0px !important;
        font-size: 1rem;

        .message{
            padding: 20px;
        }

        .game-title{
            padding: 0 !important;
            text-align: center;
        }

        .last-updated {
            margin-bottom: 330px !important;
        }

        .project-image {
            width: 95%;
        }
        
        .project-gif {         
            min-height: 400px;
            overflow-x: hidden;
            object-fit: cover;
        }

        .project-gif-bottom {
            min-height: 400px;
            object-fit: cover;
        }
    }

    .offset-left
    {
        padding-right: 60vw;
    }

    .offset-right
    {
        padding-left: 60vw;
    }
}