$fancy-font: 'Gloria Hallelujah';
$raleway-font: 'Raleway', sans-serif;
$medium-purple: #443C68;
$lighter-purple: #635985;
$creamy-gray: #E5E5E5;
$new-purple: #BFACE2;
$light: #ECF2FF;
$button-color: #f189a0;
$border-radius: 0 35px 0 35px;
$padding-left: 20px;

.game-project-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-bottom: 100px;
    
    .game-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       

        .game-h3 {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            font-family: $fancy-font;
        }

        .game-title,
        .game-description,
        .game-features, 
        .message
        {
            
            margin: 20px !important;
            padding-left: 50px;
        }

        .game-title {
            margin: 30px;
            font-family: $fancy-font;
            font-size: 3rem;
        }

        .game-description {
            width: 100%;
            padding-bottom: 30px;
            
        }

        .game-features {
            width: 100%;
            margin-bottom: 10px !important;    
        }

        .message {
            width: 100%;
            padding-top: 40px;
        }

        .git {
            scale: 1.5;
            margin-left: 30px;
        }

        .game-links {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        .last-updated {
            margin-top: 30px;
        }
        
        .project-image {
            width: 400px;
            height: 400px;
        }
        
        .project-gif {
            //width: 100%;
        }
        
        .project-gif-bottom {
            max-width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .arrow-up:hover,
    .arrow-down:hover {
        fill: $new-purple;
        cursor: pointer;
    }
    
}

@media screen and (min-width: 200px) and (max-width: 700px) {

    .game-wrapper {
        padding: 0 0 100px 0 !important;
        font-size: 1.2rem;

        .game-description,
        .game-features,
        .message{
            padding: 0 20px !important;
        }

        .game-title{
            padding: 0 !important;
            text-align: center;
        }

        .last-updated {
            margin-bottom: 300px !important;
        }


        .project-image {
            width: 95%;
        }
        
        .project-gif {
           
            height: 400px;
           overflow-x: hidden;
           object-fit: cover;
        }

        .project-gif-bottom {
            height: 400px;
            //overflow-x: hidden;
            object-fit: cover;
            

        }


    }
}