@import './Animations.scss';

$fancy-font: 'Gloria Hallelujah';
$raleway-font: 'Raleway', sans-serif;
$medium-purple: #443C68;
$lighter-purple: #635985;
$creamy-gray: #E5E5E5;
$new-purple: #BFACE2;
$light: #ECF2FF;


.skills-container {
    background-color: $medium-purple;
    width: 100%;
    min-height: 100vh;

    .headline {
        position: absolute;
        font-family: 'Gloria Hallelujah';
        color: $creamy-gray;
        font-size: 96px;
        opacity: 0.5;
        top: 10vh;
        left: 6vw;
        
    }

    .skill-card {
        height: 400px !important;

    }

    .flip-card-front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $medium-purple !important;
        font-size: 2.2rem;
    }

    .flip-card-back {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
        padding: 20px;
        position: relative;

        .list-item {
            width: 100%;
            padding: 10px;
            font-size: clamp(0.5rem, 1.5vw, 1rem);
            color: $medium-purple;
            text-align: left;
            line-height: 0.5rem;

            .skill-icon svg {
                /* width: 20px;
                height: 20px; */
                position: absolute;
                padding-bottom: 8px;
                right: 20px;
                margin-right: 10px;
            }
        }

        .hr {
            width: 90%;
            height: 5px;
            color: $medium-purple;
            background-color: $medium-purple;
            margin: 20px 0 20px 0;
            border-radius: 15px;
        }
        
    }

    .arrow-up,
    .arrow-down {
        fill: $creamy-gray;
    }

    top-logo,
    .logo-link {
        position: absolute;
        top: clamp(10px, 5vw, 15px);
        right: clamp(10px, 5vw, 25px);
        z-index: 5;
        width: 60px;
        height: 80px;

    }

    .headline-skills {
        position: absolute;
        font-family: 'Gloria Hallelujah';
        color: $creamy-gray;
        font-size: 86px;
        opacity: 0.7;
        top: 10vh;
        left: 7vw;
        animation: load-in 1.5s ease-in-out;
    }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .skill-card {

        .list-item {
            font-size: 1.2rem !important;
        }
    }
    .headline-skills{
        left: 12vw !important;
    }
}