@import './Animations.scss';

$fancy-font: 'Gloria Hallelujah';
$raleway-font: 'Raleway', sans-serif;
$medium-purple: #443C68;
$lighter-purple: #635985;
$creamy-gray: #E5E5E5;
$new-purple: #BFACE2;
$light: #ECF2FF;


.main-shadow
{
  box-shadow:  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.skills-wrapper
{
    width: 100%;
    min-height: 100vh;
    background-color: $creamy-gray;
    display: flex;
    justify-content: center;
}

.skills-container {
    background-color: $medium-purple;
    min-height: 100vh;
    width: clamp(1200px, 100%, 2000px);

    .headline {
        position: absolute;
        font-family: 'Gloria Hallelujah';
        color: $creamy-gray;
        font-size: 96px;
        opacity: 0.5;
        top: 10vh;
        left: 7vw;
        animation: slide-left 1.5s ease-in-out;
    }

    .skill-card {
        height: 400px !important;
        animation: slide-down 1.5s ease-in-out !important;
    }

    .flip-card-front {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $medium-purple !important;
        font-size: 2.2rem;
    }

    .flip-card-back {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: left;
        padding: 20px;
        position: relative;

        .list-item {
            width: 100%;
            padding: 10px;
            font-size: clamp(0.5rem, 1.5vw, 1rem);
            color: $medium-purple;
            text-align: left;
            line-height: 0.5rem;

            .skill-icon svg {
                position: absolute;
                padding-bottom: 8px;
                right: 20px;
                margin-right: 10px;
            }

            .skill-png {
                width: 20px;
                height: 30px;
                position: absolute;
                padding-bottom: 8px;
                right: 20px;
                margin-right: 10px;
            }
        }

        .hr {
            width: 90%;
            height: 5px;
            color: $medium-purple;
            background-color: $medium-purple;
            margin: 20px 0 20px 0;
            border-radius: 15px;
        }
        
    }

    .arrow-up,
    .arrow-down {
        fill: $creamy-gray;
    }

    top-logo,
    .logo-link {
        position: absolute;
        top: clamp(10px, 5vw, 15px);
        right: clamp(10px, 5vw, 25px);
        z-index: 5;
        width: 60px;
        height: 80px;

    }

    .headline-skills {
        font-family: 'Gloria Hallelujah';
        color: $creamy-gray;
        font-size: 106px;
        opacity: 0.7;
        animation: slide-left 1.5s ease-in-out;
        padding: 10vh clamp(10vw, 8%, 15vw) 0;
    }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .skill-card {

        .list-item {
            font-size: 1.2rem !important;
        }
    }
    .headline-skills{
        left: 12vw !important;
    }
}