$fancy-font: 'Gloria Hallelujah';
$raleway-font: 'Raleway', sans-serif;
$medium-purple: #443C68;
$lighter-purple: #635985;
$creamy-gray: #E5E5E5;
$new-purple: #BFACE2;
$light: #ECF2FF;
$button-color: #f189a0;
$border-radius: 0 35px 0 35px;

.web-project-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-bottom: 100px;
    

    .web-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .top-image-wrapper {
            width: max(760px, 99vw);
            min-height: 380px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

            .project-image {
                width: 380px;
                height: 380px;

            }

        }

        h3 {
            width: 100%;
            text-align: left;
            padding-left: 50px;
            font-family: $fancy-font;
        }
            
        .web-title {
            margin: 30px;
            font-family: $fancy-font;
            font-size: 3rem;
        }

        .web-description {
            margin: 30px 50px;
            
        }

        .web-features {
            width: 100%;
            padding: 10px 50px 30px 50px;           
        }

        .message {
            width: 100%;
            padding: 30px 50px;
        }

        .git {
            scale: 1.5;
            margin-left: 30px;
        }

        .web-links {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 30px;

            .git-wrapper
            .live-wrapper {
                width: 100vw !important;
                //justify-content: right !important;
                margin: 0 30px 0 20px !important;
                padding-left: 20px !important;
            }

            .link {
                margin: 0 50px 0 20px;
                
            }
        }

        .last-updated {
            margin-top: 30px;
        }
            
        
        .project-gif {
            width: 800px;
            height: 500px;
        }
    }
}

@media  screen and (min-width: 200px) and (max-width: 768px) {
    .web-wrapper {
        padding:  0 0 100px 0 !important;
        font-size: 1.2rem;
        line-height: 1.8rem;;

        .web-description{
            margin: 30px 20px !important;
        }

        .top-image-wrapper {
            width: 100% !important;
            min-height: 500px;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;


            .project-image {
                width: 100% !important;
                object-fit: cover;
                
            }
        }

        .web-features {
            padding-left: 20px !important;
        }

        .links {
            margin-left: 50px !important;
        }
    }
}