@import './Animations.scss';

$fancy-font: 'Gloria Hallelujah';
$raleway-font: 'Raleway', sans-serif;
$medium-purple: #443C68;
$lighter-purple: #635985;
$creamy-gray: #E5E5E5;
$new-purple: #BFACE2;
$light: #ECF2FF;
$button-color: #f189a0;
$border-radius: 0 35px 0 35px;
$padding-left: 20px;

.web-project-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-bottom: 100px;
    
    .web-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px 0 50px;

        .top-image-wrapper {
            width: max(760px, 99vw);
            min-height: 380px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

            .project-image {
                width: 380px;
                height: 380px;
            }
        }

        .collab-header {
            font-family: $fancy-font;
            width: 100%;
        }

        .web-title,
        .web-description,
        .web-features,
        .collab-wrapper
        {
            margin: 20px !important;
        }
          
        .web-title {
            margin: 30px;
            font-family: $fancy-font;
            font-size: 3rem;
            animation: load-in 1.5s ease-in-out;
        }

        .web-description {
            width: 100%;
            margin-bottom: 40px !important;  
            animation: load-in 1.5s ease-in-out;        
        }

        .web-features,
        .message {
            width: 100%;
            margin-bottom: 40px;
            animation: load-in 1.5s ease-in-out;
        }

        .message {
            margin-top: 20px;
            color: $new-purple;
        }

        .git {
            scale: 1.5;
            margin-left: 30px;
        }

        .web-links {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 30px;

            .link {
                margin: 0 50px 0 20px;              
            }
        }

        .last-updated {
            width:100%;
            text-align: center;
            margin-top: 30px;
            color: $new-purple;
        }
            
        
        .project-gif {
            width: 800px;
            height: 500px;
        }

        .collab-header {
            margin-bottom: 20px;
            animation: load-in 1.5s ease-in-out;
        }


        .collab-wrapper {
            width: 100% ;
           
            .my-collab {
                margin-bottom: 40px;
            }
        }
    }

    .arr-up:hover,
    .arr-down:hover {
        fill: $new-purple;
        cursor: pointer !important;
    }
}

@media  screen and (min-width: 200px) and (max-width: 768px) {
    .web-wrapper {
        padding:  0 0 100px 0 !important;
        font-size: 1.2rem;
        line-height: 1.8rem;

        .web-title {
            text-align: center;
            line-height: 3rem;
        }

        .top-image-wrapper {
            width: 100% !important;
            min-height: 500px;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            .project-image {
                width: 100% !important;
                object-fit: cover;             
            }
        }

        .web-description,
        .web-features,
        .collab-wrapper, 
        .message{
            padding: 0 20px !important;
        }

        .collab-header {
            margin-left: 40px !important;
        }

        .web-links {

            .git-wrapper {
                margin-left: 20px !important;
                margin-bottom: 20px;
            }

            .live-wrapper {               
                margin-bottom: 20px;
            }
        }
            
        .link {
            margin-left: 10px !important;
        }
    }
}